<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- css -->
  <link rel="stylesheet" href="css/style.css">

  <!-- Vue -->
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

  <!-- FontAwesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">

  <title>Shopping List</title>
</head>
<body>


  <div id="app">

    <header>

      <!-- input  -->
      <div class="container">
        <div>Lista Spesa <i class="fa-solid fa-basket-shopping"></i></div>
        
        <div class="container-input">        
          <input @keyup.enter="addNew" v-model.trim="toDo" type="text" placeholder=" devo prendere.... ">
          <button @click="addNew">aggiungi</button>
        </div>

      </div>
    </header>


    <main>

      <div class="container-list">

        <!-- list -->
        <div>
          
          <ul>
            <li v-for="(list,index) in lists">
              <div class="container-category">
                <img :src="list.img">
                <b>{{list.name}}</b>
                <ul>
                  
                  <li v-for="(element,index) in list.category">
                    
                    <span v-if="list.done === true" class="decoration">
                      {{element}}
                    </span>
                    <span v-if="list.done === false">
                      {{element}}
                    </span>
                    <span>{{list.text}}</span>
                    <span >{{list.text}}</span>
                    <span class="icons">
                      <input v-model.trim="list.done" type="checkbox" name="checkbox" id="checkbox">
                      <i @click="deleteRow(index)" class="fa-solid fa-trash-can"></i>
                    </span>
                    
                    
                    
                  </li>
                </ul>
              </div>
              

            </li>
          </ul>

        </div>

      </div>

    </main>

  </div>


  <script src="js/script.js"></script>
  
</body>
</html>